/*Basic Element Changes*/
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #5b5d5f;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #cccccc;
}

/*Tables List Styling*/
.tables {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.tables-title {
  width: 100%;
  height: 5%;
  padding: 0;
  margin: 0;
  text-align: left;
}

.tables-list {
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tables-list li {
  width: 90%;
  padding-left: 10%;
  cursor: pointer;
}

.tables-list li:hover {
  background-color: #cdcdcd
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
}

.grid {
  position: absolute;
  width: calc(98% - (2% - 8px));
  max-height: 100%;
  top: 0;
  left: 2%;
  border-collapse: collapse;
}

.grid-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(96% - 100px);
  display: none;
  overflow-y: scroll;
}

.grid th, .grid td {
  height: 30px;
}

.grid th {
  text-align: left;
  padding-left: 15px;
}

.grid td {
  text-align: left;
  padding-left: 15px;
}

.grid tr:nth-child(even) {background-color: #f2f2f2;}

.sql {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(110px);
  margin-bottom: 2%;
  display: none;
}

.sql-input {
  position: absolute;
  top: 10px;
  left: 2%;
  width: calc(96% - 10px);
  height: 100px;
  padding: 5px;
  border: 1px solid #cdcdcd;
  resize: none;
}

.sql-run {
  position: absolute;
  right: calc(2% - 1px);
  bottom: -12px;
  height: 40px;
  width: 80px;
  z-index: 1;
  padding: 0;
  margin: 0;
  border: none;
  background-color: green;
}
